﻿.Animate-Image-left {
    /*max-height: 350px;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.7);
    border-right: 10px solid;
    border-left: 10px solid;
    border-top: 30px solid;
    border-bottom: 30px solid;
    border-color: #555;
    border-radius: 5px;
    z-index: 1;
    display: inline-table;*/
}

.Animate-Image-right {
    /*max-height: 500px;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.7);
    border-right: 20px solid;
    border-left: 20px solid;
    border-top: 20px solid;
    border-bottom: 20px solid;
    border-color: #ddd;
    border-radius: 5px;
    z-index: 2;
    display: inline-table;*/
}


@media only screen and ( min-width: 900px) {

    #sampleImages {
        text-align:center;
    }

    .Animate-Image-left {
        animation-name: cross-left;
        animation-duration: 2s;
        transform: matrix3d(
            1,0,0,0,
            0,1,0,0,
            0,0,1,0,
            0,0,0,1);
    }


    @keyframes cross-left {
        from {
            transform: matrix3d(
                6.76044,.16718,-2,.00125,
                1.91031,7.838,2,-.00032,
                0,0,1,0,
                28,32,0,8);
        }

        to {
            transform: matrix3d(
                1,0,0,0,
                0,1,0,0,
                0,0,1,0,
                0,0,0,1);
        }
    }



    .Animate-Image-right {
        animation-name: cross-right;
        animation-duration: 2s;

        transform: matrix3d(
            1,0,0,0,
            0,1,0,0,
            0,0,1,0,
            0,0,0,1);
    }

    @keyframes cross-right {
        from {
            transform: matrix3d(
                .617678,.139478,0,-.000589,
                -.220175,.905113,0,-.000005,
                0,0,1,0,
                0,0,0,1);
        }

        to {
            transform: matrix3d(
                1,0,0,0,
                0,1,0,0,
                0,0,1,0,
                0,0,0,1);
            margin-left: -10px;
        }
    }
}


@media only screen and (max-width: 900px) {
    .Animate-Image-left {
        margin-top: -20%;
    }

    .Animate-Image-right {
        margin-bottom: -25%;
    }
}





.imgView-350{
    max-height:350px;
    margin-top: -5px;
}


.imgView-500 {
    max-height: 500px;
}

.divImages{
}


p.services {
    margin-left: 4rem;
}

@media only screen and ( min-width: 992px) {
    hr.vertical {
        border: none;
        border-left: 1px solid hsla(200, 0%, 0%, 0.10); 
        height: 100%;
        width: 0px;
    }
}

@media not screen and ( min-width: 992px){
    hr.vertical{
        display: none;
    }
}

.background-blur-white {
    background: rgba(255, 255, 255, 0.2) !important;
}

.background-blur-black {
    background-color: rgba(0, 0, 0, 0.1) !important;
}