﻿.start-rotate-left-Position {
    transform: matrix3d(6.76044,.16718,-2,.00125,1.91031,7.838,2,-.00032,0,0,1,0,28,32,0,8);
}

.rotateInLeft {
    animation: rotateInLeft 1s cubic-bezier(.28,.06,.07,1);
    animation-delay: .367s;
    animation-fill-mode: forwards;
    animation-duration: 4s;
}

@keyframes rotateInLeft {
    0% {
        transform: matrix3d(6.76044,.16718,-2,.00125,1.91031,7.838,2,-.00032,0,0,1,0,28,32,0,8);
    }

    100% {
        transform: matrix3d(6.76044,.16718,0,.00125,.91031,7.838,0,-.00032,0,0,1,0,28,32,0,7);
    }
}

.start-rotate-right-Position {
    transform: matrix3d(.617678,.139478,0,-.000589,-.220175,.905113,0,-.000005,0,0,1,0,0,0,0,1);
}


.rotateInRight {
    animation: rotateInRight 1s cubic-bezier(.28,.06,.07,1);
    animation-delay: .367s;
    animation-fill-mode: forwards;
    animation-duration: 4s;
}

@keyframes rotateInRight {
    0% {
        transform: matrix3d(.617678,.139478,0,-.000589,-.220175,.905113,0,-.000005,0,0,1,0,0,0,0,1);
    }

    100% {
        transform: matrix3d(.917678,.139478,0,-.000089,-.200175,.925113,0,-.000085,0,0,1,0,0,0,0,1);
    }
}
